aside.cell.cell__lg-3.cell__xs-12
    form.fg-filter
        .visible__sm.visible__xs
            a.btn.btn--transparent.btn--full.text--uppercase.filter--js(href="#") Фильтр
        .fg-accordion.margtop20
            .accordion
                .fg-accordion__section.fg-accordion__section--menu
                    .fg-accordion__section--title.active все Категории
                    .fg-accordion__section--content.active(style="display: block;")
                        ul.menu
                            li: a(href="#") Г-образные
                            li: a.active(href="#") Т-образные
                            li: a(href="#") Пристеночные
                            li: a(href="#") Деревянные спорткомплексы
                            li: a(href="#") Многоопорные
                            li: a(href="#") Напольные ДСК
                            li: a(href="#") Дополнительное оборудование
            .fg-accordion__section--mobile
                .visible__sm.visible__xs
                    ul.list--table.text--primary.text--uppercase
                        li.cell__xs-4: a.btn--js(href="#"): i.icon-left-open
                        li.cell__xs-4.text--center Фильтр
                        li.cell__xs-4.text--right: img(src="images/filt.png", alt="")
                .accordion
                    .fg-accordion__section
                        .fg-accordion__section--title.active Цена
                        .fg-accordion__section--content.active(style="display: block;")
                            .this-or-this.range-slider
                                .this-or-this__this.range-slider__item
                                    input#start.form-control(type="text", class="start")
                                .this-or-this__this.padright10.padleft10: img(src="images/range.png", alt="")
                                .this-or-this__this.range-slider__item
                                    input#end.form-control(type="text", class="end")
                            #rangeSlider
                .accordion
                    .fg-accordion__section
                        .fg-accordion__section--title.active Крепление
                        .fg-accordion__section--content.active(style="display: block;")
                            +fieldCheckbox('Пристенные', 'brand1', false)
                            +fieldCheckbox('Распорные', 'brand2', false)
                            +fieldCheckbox('Напольные', 'brand3', false)
                            .hide--all.margtop10(style="display:none")
                                +fieldCheckbox('Деревянные спорткомплексы', 'brand4', true)
                                +fieldCheckbox('Многоопорные', 'brand5', false)
                                +fieldCheckbox('Напольные ДСК', 'brand6', false)
                                +fieldCheckbox('Дополнительное оборудование', 'brand7', false)
                            .margtop10
                                a.text--info.dotted.show--all(href="#")
                                    span Еще крепления
                .accordion
                    .fg-accordion__section
                        .fg-accordion__section--title.active Возраст
                        .fg-accordion__section--content.active(style="display: block;")
                            +fieldCheckbox('От 1 года', 'check1', false)
                            +fieldCheckbox('Для малышей', 'check2', false)
                            +fieldCheckbox('Для детей', 'check3', false)
                            .hide--all.margtop10(style="display:none")
                                +fieldCheckbox('Деревянные спорткомплексы', 'check4', false)
                                +fieldCheckbox('Многоопорные', 'check5', false)
                                +fieldCheckbox('Напольные ДСК', 'check6', false)
                            .margtop10
                                a.text--info.dotted.show--all(href="#")
                                    span Еще крепления
                .accordion
                    .fg-accordion__section
                        .fg-accordion__section--title Цвет металла
                        .fg-accordion__section--content(style="display: none;") текст
                .accordion
                    .fg-accordion__section
                        .fg-accordion__section--title Цвет дерева
                        .fg-accordion__section--content(style="display: none;") текст
                .accordion
                    .fg-accordion__section
                        .fg-accordion__section--title Производитель
                        .fg-accordion__section--content(style="display: none;") текст
                .accordion
                    .fg-accordion__section
                        .fg-accordion__section--title Новинка
                        .fg-accordion__section--content(style="display: none;") текст
                .accordion
                    .fg-accordion__section
                        .fg-accordion__section--title Товар со скидкой
                        .fg-accordion__section--content(style="display: none;") текст
                .clearfix.padtop10.padbot10
                    .cell.cell__md-7.cell__xs-6
                        a.btn.btn--warning.btn--full.text--uppercase(href='#') Применить
                    .cell.cell__md-5.cell__xs-6
                        a.btn.btn--transparent.btn--full.text--uppercase(href='#') Снять