ul.pagination
    li.pagination__item
        a.disabled(href='#')
            i <
    li.pagination__item.active
        a(href='#') 1
    - for (var x = 2; x < 8; x++)
        li.pagination__item
            a(href='#')= x
    li.pagination__item
        a(href='#') ...
    li.pagination__item
        a(href='#')
            i  >
if title == 'Спортивные комплексы для дома'
    .catalog-btn
        button.btn.btn__lg.btn--default Всего: 365 товаров