//popups

#phone-id.mfp-hide.white-popup.mfp-xs
    a.close.popup-modal-dismiss(href="#"): img(src="images/close.png", alt="")
    .text--center.margbot20
        h3 Заказ звонка
    form
        .form__group
            label Введите имя #[sup *]
            input.form-control(type='text', placeholder="Например, Мария Иванова", required)
        .form__group
            label Телефон  #[sup *]
            input.form-control(type='text', name="phone", placeholder="Например, +7 (ххх) ххх-хх-хх", required)
        .form__group
            label Удобное время для звонка
            input.form-control(type='text', placeholder="Например, с 9 до 18")
        .form__group
            button.btn.btn--info.btn--full.text--uppercase(type="submit") ОТправить
        label #[sup *] — поля обязательные для заполнения

#send-id.mfp-hide.white-popup.mfp-xs
    a.close.popup-modal-dismiss(href="#"): img(src="images/close.png", alt="")
    .text--center.margbot20
        h3 Что с моим заказом?
    form
        .form__group
            label Введите имя #[sup *]
            input.form-control(type='text', placeholder="Например, Мария Иванова", required)
        .form__group
            label Телефон  #[sup *]
            input.form-control(type='text', name="phone", placeholder="Например, +7 (ххх) ххх-хх-хх", required)
        .form__group
            label Номер заказа
            input.form-control(type='text', placeholder="Например, 765-765-378")
        .form__group
            button.btn.btn--info.btn--full.text--uppercase(type="submit") ОТправить
        label #[sup *] — поля обязательные для заполнения

#reg-id.mfp-hide.white-popup.mfp-md
    a.close.popup-modal-dismiss(href="#"): img(src="images/close.png", alt="")
    .text--center.margbot20
        h3 Регистрация
        p.text__md Данные для регистрации
    form
        .row
            .cell.cell__md-6.cell__xs-12
                .form__group
                    label Логин (мин. 3 символа)  #[sup *]
                    input.form-control(type='text', placeholder="Например, Mari_Ivanova", required)
                .form__group
                    label Пароль #[sup *]
                    input.form-control(type='password', placeholder="Например, ********", required)
                .form__group
                    label Пароль еще раз #[sup *]
                    input.form-control(type='password', placeholder="Например, ********", required)
                .form__group
                    label Адрес e-mail #[sup *]
                    input.form-control(type='email', placeholder="Например, company@mail.ru", required)
            .cell.cell__md-6.cell__xs-12
                .form__group
                    label Имя #[sup *]
                    input.form-control(type='text', placeholder="Например, Мария", required)
                .form__group
                    label Фамилия
                    input.form-control(type='text', placeholder="Например, Иванова")
                .form__group
                    label Защита от автоматической регистрации:
                    img(src="images/capcha.png", alt="")
                .form__group
                    label Введите слово на картинке
                    input.form-control(type='text', placeholder="Например, CZSAF")
        .form__group
            .checkbox
                input(type="checkbox", id="reg1")
                label.text__sm(for="reg1") Запомнить меня (при каждом посещении сайта вход будет выполняться автаматически)
        .form__group
            .checkbox
                input(type="checkbox", id="reg2")
                label.text__sm(for="reg2") Ознакомлен и согласен с правилами сайта, даю согласие на обработку моих персональных данных
        .form__group.cell__sm-5
            button.btn.btn--info.btn--full.text--uppercase(type="submit") ОТправить
        label #[sup *] — поля обязательные для заполнения


#auth-id.mfp-hide.white-popup.mfp-md
    a.close.popup-modal-dismiss(href="#"): img(src="images/close.png", alt="")
    .text--center.margbot20
        h3 Добро пожаловать в БэбиСпорт
    form
        .row
            .cell.cell__md-6.cell__xs-12.margbot20
                h4 Регистрация личного кабинета
                p.auth-par.text__md Зарегистрируйте личный кабинет на нашем сайте для получения индивидуальных скидок
                a.btn.btn--info.btn--full.text--uppercase.popup-modal(href="#reg-id") Зарегистрироваться
            .cell.cell__md-6.cell__xs-12.decor-popup.margbot20
                h4 Вход в личный кабинет
                .form__group
                    label E-mail
                    input.form-control(type='email', placeholder="Например, company@mail.ru", required)
                .form__group
                    label Пароль
                    input.form-control(type='password', placeholder="Например, ********", required)
                ul.list--inline
                    li.v-middle: button.btn.btn--info.btn--full.text--uppercase(type="submit") ОТправить
                    li.v-middle: a.text__md(href="#") Забыли пароль?
        .text--center.margtop30
            h4 Через социальные сети
            img(src="images/auth.png", alt="")


#txt2-id.mfp-hide.white-popup.mfp-xs
    a.close.popup-modal-dismiss(href="#"): img(src="images/close.png", alt="")
    h3 Что с моим заказом?
    label Спасибо! Ваша заявка принята!


#txt-id.mfp-hide.white-popup.mfp-xs
    a.close.popup-modal-dismiss(href="#"): img(src="images/close.png", alt="")
    h3 Заказ звонка
    label Спасибо! Ваша заявка принята!

//popups