//
// Base -> Scaffolding
// --------------------------------------------------

//
// Make all elements box-sizing
//
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

//
// Delete focus border
//
a:active, a:focus {outline: none;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button:active, button:focus {outline: none;}
:focus {outline:none;}
button::-moz-focus-inner {border: 0;}

//
// Clearfix
//
.clearfix {
  @include clearfix();
}

//
// HTML
//
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

//
// Basic typography styles
//
body {
  background-color: $base-background;
  color: $base-color;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  min-width: 320px;
}

.relative {
  position: relative;
}

//
// Link
//
a {
  color: $link-color;
  @include transition;

  &.dotted {
    text-decoration: none;
    span {
      border-bottom: 2px dotted #7c7c7c;
    }
    &.text--info {
      span {
        border-color: $color-type-1a;
      }
    }
    &:hover {
      span {border-color: transparent;}
    }
  }

  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
  }
}

//
// Images
//
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.img--right{
  float:right;
  margin-bottom:  $line-height-computed;
  margin-left: $line-height-computed;
}
.img--left{
  float:left;
  margin-right: $line-height-computed;
  margin-bottom: $line-height-computed;
}
.img--center{
  display:block;
  margin-right:auto;
  margin-bottom: $line-height-computed;
  margin-left:auto;
}



//
// Display none
//
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}