//
// Base -> Typography
// --------------------------------------------------


// Headings
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;


  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 75%;
  }
}
sup {color: red;}
h1, .alpha   {
  font-size: $base-font-size * 1.125; text-transform: uppercase; color: $base-color-main;

  @media (min-width: $screen-adaptive-nav) {
    font-size: $font-size-h1;
  }
}
h2, .beta    { font-size: $font-size-h2; font-weight: 500; }
h3, .gamma   { font-size: $font-size-h3; }
h4, .delta   { font-size: $font-size-h4; }
h5, .epsilon { font-size: $font-size-h5; }
h6, .zeta    { font-size: $font-size-h6; }


// Body text
p { margin: 0 0 10px; }

b { font-weight: 700; }

// Alignment
.text--left           { text-align: left; }
.text--right          { text-align: right; }
.text--center         { text-align: center; }
.text--justify        { text-align: justify; }
.text--nowrap         { white-space: nowrap; }


// Responsive alignment
@if $use-adaptive == true {
  @media (min-width: $screen-sm-min) {
    .text__sm--left   { text-align: left; }
    .text__sm--right  { text-align: right; }
    .text__sm--center { text-align: center; }
  }
  @media (min-width: $screen-md-min) {
    .text__md--left { text-align: left;}
    .text__md--right {text-align: right;}
    .text__md--center {text-align: center;}
  }

  @media (min-width: $screen-lg-min) {
    .text__lg--left { text-align: left;}
    .text__lg--right { text-align: right;}
    .text__lg--center { text-align: center;}
  }

  @media (min-width: $screen-xlg-min) {
    .text__xlg--left { text-align: left;}
    .text__xlg--right { text-align: right;}
    .text__xlg--center { text-align: center;}
  }
}


// Transformation
.text--lowercase      { text-transform: lowercase; }
.text--uppercase      { text-transform: uppercase; }
.text--capitalize     { text-transform: capitalize; }


// Text size
.text__sm  { font-size: $font-size-small; }
.text__md  { font-size: $font-size-medium; }
.text__lg  { font-size: $font-size-large; }
.text__xlg { font-size: 23px;}
.text__xs  { font-size: 10px;}

@if $use-color-text == true {
  // Color text
  @include text-emphasis-variant('.text--primary', $base-color-main);
  @include text-emphasis-variant('.text--success', #969696);
  @include text-emphasis-variant('.text--info', $color-type-1a);
  @include text-emphasis-variant('.text--warning', $color-type-3a);
  @include text-emphasis-variant('.text--danger', $color-type-2a);
  @include text-emphasis-variant('.text--default', $base-color-darken);
}


// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-computed-half;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.list {
  &--unstyled {
    @include list--unstyled;
  }

  &--inline {
    @include list--unstyled;
    margin-left: -5px;
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &--bullet {
    @include list--unstyled;
    margin-left: 20px;
    margin-bottom: 30px;

    > li {
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '•';
        color: $color-type-3a;
        font-size: 20px;
        margin-right: 11px;
      }
    }
  }

  &--border {
    @include list--unstyled;
    > li {
      display: block;
      padding: 8px 0;
      border-bottom: 1px solid #e8e8e8;
    }
    > li + li {
    }
  }

  &--table {
    @include list--unstyled;
    display: table;
    width: 100%;
    margin-left: -5px;
    > li {
      display: table-cell;
      width: 1%;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &--number {
    counter-reset: items;
    padding-left: 0;
    margin-left: 11px;
    > li {
      margin-bottom: $line-height-computed / 2.6;
      &::before {
        counter-increment: items 1;
        content: counter(items, decimal) ".";
        margin-right: 5px;
        font-weight: 400;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}



// Blockquotes
blockquote {
  padding: 0 $line-height-computed 0 ($line-height-computed * 1.8);
  margin: $line-height-computed * 2 0;
  font-size: $blockquote-font-size;
  line-height: 1.6;
  position: relative;
  font-weight: 300;
  //border-left: 3px solid $blockquote-border-color;
  //background: linear-gradient(to top, #0082d5 0%, #a234d5 100%);
  color: $color-type-1a;

  &:before {
    content: '';
    height: 100%;
    width: 3px;
    background: $color-type-1a;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  p,
  ul,

  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}