//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #303030;
  box-shadow: 0 2px 14.9px 0.2px rgba(0, 1, 3, 0.19);
  @media (min-width: $screen-adaptive-nav) {
    border-bottom: 5px solid #214d9f;
  }
  &__mobile {
    font-size: 12px;
    text-align: left;
    color: #dedede;
    a {color: white;}
    .list--inline {
      font-size: 0;
      margin-left: -2px;
      > li {
        vertical-align: top;
        font-size: 12px;
        padding: 0 2px;
      }
    }
  }
  a {
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

  .inner {
    font-size: 0;
  }
  .item {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
  }
  &__info {
    width: 100%;
    text-align: center;
    @media (min-width: $screen-xlg-desktop) {
      width: 38%;
    }
    .phone {
      font-size: 23px;
      margin-bottom: 7px;
      &-info {
        color: #8e8e8e;
        font-size: 14px;
        height: 26px;
      }
      a {
        color: white;
        &:hover {
          color: white;
          text-decoration: underline;
        }
      }
    }
    .info-item {
      border-right:  1px solid #545454;
      @media (min-width: $screen-xlg-desktop) {
        border-left:  1px solid #545454;
      }
    }

    .select2-selection {
      //color: #fff;
      height: 35px;
      border-radius: 17px;
      background-color: $color-type-1a;
      border-color: $color-type-1a;
      text-transform: uppercase;
      padding: 0 20px 0 10px;
      .select2-selection__rendered {
        color: #fff;
        line-height: 35px;
      }
    }
  }
  &__menu {
    padding: 0 12px;
    a { color: #dedede;}
    .copy {
      margin-top: 13px;
      font-size: 13px;
      color: #8e8e8e;
    }
  }
  &__logo {
    width: 33%;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    color: white;
    @media (min-width: $screen-xlg-desktop) {
      width: 20%;
    }
    .logo {
      color: #c2c2c2;
      line-height: 1;
      font-family: 'Roboto Condensed';
      border-bottom: 1px solid #c2c2c2;
    }
  }
}