//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  background-color: white;
  line-height: 1.3;
  @include clearfix();
  @media (min-width: $screen-tablet) {
    border-top: 5px solid $base-color-main;
  }
  &__logo {
    text-align: center;
    a {
      display: block;
      color: #79736a;
      font-family: "Roboto Condensed";
      text-transform: uppercase;
      text-decoration: none;
      @media (min-width: $screen-xlg-desktop) {
        font-size: 18px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__phone {
    width: 20%;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: $screen-xlg-desktop) {
      background: url("../images/line-shape.png") no-repeat center left 25px;
    }
    a { text-decoration: none;}
  }
  &__list {
    .select2-selection {
      //color: #fff;
      height: 35px;
      border-radius: 17px;
      background-color: $color-type-1a;
      border-color: $color-type-1a;
      text-transform: uppercase;
      padding: 0 20px 0 10px;
      .select2-selection__rendered {
        color: #fff;
        line-height: 35px;
      }
    }
    text-align: center;
    a {
      text-decoration: none;
    }
  }
  &__search {
    .search {
      position: relative;
      height: 30px;
      @media (min-width: $screen-xlg-desktop) {
        height: 43px;
        width: 240px;
      }
    }
    input {
      height: 43px;box-shadow: 0 2px 14.9px 0.2px rgba(0, 1, 3, 0.19);
      display: none;
      @media (min-width: $screen-xlg-desktop) {
        display: block;
      }
    }
    button {
      position: absolute;
      top: 1px;
      right: 0;
      background: #fff;
      outline: none;
      border: none;
      cursor: pointer;
      border-radius: 50px;
      height: 97%;
      width: 43px;
      &:focus, &:active, &:hover {outline: none; border:none}
      i {
        font-size: 19px;
        color: #ccc;
        @media (min-width: $screen-xlg-desktop) {
          font-size: 24px;
        }
      }
    }


  }
  &__auth {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    text-align: center;
    .auth-inner {
      display: inline-block;
    }
  }
  &__info {
    position: relative;

    @media (min-width: $screen-xlg-desktop) {
      background: url("../images/line-shape.png") no-repeat center left 25px;
    }

  }

  .cart {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    text-align: center;
    position: relative;
    &-main {
      position: relative;
      display: block;
      margin: 4px auto;
      height: 35px;
      border: 1px solid #e8e8e8;
      border-radius: 26px;
      text-align: center;
      padding: 6px 14px;
      max-width: 170px;
    }


    &__txt {
      text-align: left;
      display: inline-block;
      padding-right: 14px;
    }
    &__ico {
      vertical-align: top;
      display: inline-block;
      i::before {
        color: #acacac;
        font-size: 20px;
        vertical-align: middle;
      }
      .count {
        width: 29px;
        height: 29px;
        line-height: 29px;
        color: #fff;
        font-size: 15px;
        text-align: center;
        background-color: $color-type-1a;
        @include border-radius(29px);

        position: absolute;
        right: -12px;
        top: -13px;
      }
    }
  }


  &__catalog {
    //width: 24%;
    position: relative;
    width: 100%;
    @media (min-width: $screen-tablet) {
      width:auto;
    }
    > a {
      display: block;
      background-color: $color-type-3a;
      border-radius: 30px;
      text-decoration: none;
      padding: 0 5px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      height: 30px;
      line-height: 30px;
      font-size: 15px;
      @media (min-width: $screen-xlg-desktop) {
        padding: 0 18px;
        height: 45px;
        line-height: 45px;
        //font-size: 15px;
      }
      span {
        color: #fff;
      }
      i {
        margin-right: 4px;
        @media (min-width: $screen-xlg-desktop) {
          margin-right: 13px;
        }
      }
    }
    &:hover > a {
      text-decoration: none;
      background-color: darken($color-type-3a, 6%);
      span { color: #fff;}
    }
  }
  &__menu {
    @media (min-width: $screen-desktop) {
      text-align: center;
    }
  }

  &__top {
    padding: 12px 0 22px;
    background-color: #fff;
    box-shadow: 0 2px 14.9px 0.2px rgba(0, 1, 3, 0.19);
    .text__xlg {
      font-size: 14px;
      @media (min-width: $screen-xlg-desktop) {
        font-size: 23px;
      }
    }
    .text__md {
      font-size: 12px;
      @media (min-width: $screen-xlg-desktop) {
        font-size: 14px;
      }
    }
  }
  &__top, &__bottom {
    .inner {
      //display: table;
      //width: 100%;
      font-size: 0;
    }
    .item {
      font-size: 13px;
      display: inline-block;
      vertical-align: middle;
      @media (min-width: $screen-xlg-desktop) {
        font-size: 16px;
      }
    }
  }
  &__bottom {
    background-color: $color-type-1a;
    box-shadow: 0 2px 14.9px 0.2px rgba(0, 1, 3, 0.08);
    //padding: 15px 0;
    position: relative;

    .item { padding: 5px 0;}
    @media (min-width: $screen-tablet) {
      .item { padding: 15px 0;}
    }
  }



  @media (min-width: $screen-tablet) {
    &__logo { width: 21%; }
    &__phone { width: 25%; }
    &__list { width: 19%; }
    &__info { width: 22%; padding: 0 1%; }
    &__auth { width: 13%; }
  }
  @media (min-width: $screen-desktop) {
    &__logo { width: 25%; }
    &__phone { width: 22%; }
    &__list { width: 18.66667%; }
    &__info { width: 21%; padding: 0; }
    &__auth { width: 13.33333%; }
  }
  @media (min-width: $screen-xlg-desktop) {
    &__phone { width: 25%; }
    &__list { width: 16.66667%; }
    &__info { width: 25%; }
    &__auth { width: 8.33333%; }
  }


  &__mobile {
    text-align: center;
    padding: 7px 0;
    ul {
      margin-bottom: 0;
      li { vertical-align: middle;}
    }
    .list--inline li {padding: 0;}
    .nav li {
      padding: 0;
      text-align: center;
      a {
        padding: 10px;
        background-color: $base-color-main;
        &:hover {
          text-decoration: none;
          background-color: $color-type-1a;
        }
      }
    }
    .btn {
      width: 30px;
      height: 30px;
      line-height: 27px;
      padding: 0;
      text-align: center;
    }
    .select-city {
      color: $base-color-main;
      //background-color: transparent;
      background: url("../images/arr.png") no-repeat center right 5px, #fff !important;
      border: none;
      text-transform: uppercase;
      font-size: 9px;
      border-bottom: 1px dotted $base-color-main;
      @include border-radius(0);
      cursor: pointer;
      padding: 2px 13px 2px 2px;
      font-weight: 400;
      height: auto;
      i { font-size: 13px;}
    }
    .cart__ico {
      i::before {
        color: #fff;
        margin: 0;
      }
      .count {
        width: 18px;
        height: 18px;
        line-height: 18px;
        color: #fff;
        font-size: 8px;
        right: -8px;
        top: -6px;
      }
    }
    i {
      font-size: 18px;
    }
  }
}
.header__logo {
  text-align: center;
  &-title {
  }
}


.catalog-inner {
  background-color: white;
  box-shadow: 0 0 8.5px 1.5px rgba(65, 65, 61, 0.15);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 98;
  display: none;
  .active & {
    display: block;
  }
  ul { margin: 0;}
  &__item {
    font-size: 16px;
    display: block;
    font-weight: 400;
    max-width: 418px;
    > a {
      padding: 10px 55px 10px 60px;
      display: block;
      color: #3e3e3e;
      text-decoration: none;
      position: relative;
      background: url("../images/menu-ico-1.png") no-repeat center left 17px, url("../images/cat-ico.png") no-repeat center right 25px, #fff;
      &::before {
        content: '';
        height: 1px;
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin:auto;
        background-color: #e5e5e5;
      }
    }
    &:hover > a {
      color: #fff;
      background: url("../images/menu-ico-2.png") no-repeat center left 17px, url("../images/cat-ico-h.png") no-repeat center right 25px, $color-type-1a;
      &::before {
        background-color: transparent;
      }
    }
    @media (max-width: $screen-sm-max) {
      &.active > a {
        color: #fff;
        background: url("../images/menu-ico-2.png") no-repeat center left 17px, url("../images/cat-ico-h.png") no-repeat center right 25px, $color-type-1a;
        &::before {
          background-color: transparent;
        }
      }
    }
  }
  .sub-menu {
    display: none;
    background-color: white;
    @media (min-width: $screen-tablet) {
      top: 0;
      bottom: 0;
      left: 100%;
      position: absolute;
      height: 100%;
    }
    &__item {
      font-size: 15px;
      padding: 10px 20px;
      white-space: nowrap;
      a {
        color: #74888e;
        font-weight: 300;
        text-decoration: none;
        &:hover {
          color: #2077b4;
          text-decoration: underline;
        }
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    .catalog-inner__item.active .sub-menu {
      display: block;
    }
  }
  @media (min-width: $screen-tablet) {
    .catalog-inner__item:hover .sub-menu {
      display: block;
    }
  }
}

//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }