//
// Partials -> Main
// ------------------------------------


//
// Main container
//
.page-main {
  @media (min-width: $screen-adaptive-nav) {
    min-height: calc(100vh - 475px);
  }
}
.v-middle {vertical-align: middle;}

//tempaltes
.template {
  background-color: white;
  box-shadow: 0 6px 8.2px 0.8px rgba(0, 1, 3, 0.07);
  margin-bottom: 12px;
  @media (min-width: $screen-adaptive-nav) {
    padding: 20px 0;
  }
  &--decor {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 0;
      right: 0;
      width: 100%;
      height: 14px;
      background: url("../images/voln.png") bottom center repeat-x;
    }
  }
  &--info {
    background-color: $color-type-1a;
  }
}
//tempaltes

.page-500 {background: #fff}
.page500 {
  position: absolute;
  height: 430px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  a {
    display: block;
    font-weight: 500;
    color: $color-type-1a;
  }
  h2 {
    font-weight: 500;
    color: $color-type-1a;
  }
}
.page404 {
  margin: 20px 0 30px;
  padding: 40px 0;
  @media (min-width: $screen-adaptive-nav) {
    padding: 75px 0;
  }
  a {
    display: block;
    font-weight: 500;
    color: $color-type-1a;
  }
  h2 {
    font-weight: 500;
    color: $color-type-1a;
  }
}

.index {

  &-catalog {
    .inner {
      font-size: 0;
    }
    &__item {
      text-decoration: none;
      border: 1px solid #e8e8e8;
      display: inline-block;
      vertical-align: top;
      width: 100%;
      text-align: center;
      padding: 20px 10px;
      line-height: 1;
      font-size: 14px;
      color: #303030;
      margin-left: -1px;
      margin-top: -1px;
      position: relative;
      cursor: pointer;
      @media (min-width: $screen-tablet) {
        width: 25%;
      }
      @media (min-width: $screen-desktop) {
        width: 20%;
      }
      @media (min-width: $screen-xlg-desktop) {
        width: 14.28%;
      }
      &:hover {
        background-color: #2078b6;
        color: #fff;

        .txt-ico::before {
          background: url("../images/cat-ico-h.png") center center no-repeat;
        }

        .hide-item {
          display: block;
        }
      }

      .hide-item {
        border-radius: 30px;
        background-color: #2078b6;
        border: 1px solid white;
        box-shadow: 0 2px 5.5px 0.5px rgba(0, 1, 3, 0.11);
        position: absolute;
        top: 98%;
        left: 0;
        display: none;
        z-index: 10;
        padding: 20px;
        text-align: left;
        .list--unstyled li {
          padding: 4px 11px;
          height: 50px;
        }
        a {
          color: white;
          font-size: 16px;
          text-decoration: none;
          &:hover {
            color: #c6eaff;
            text-decoration: underline;
          }
        }
        &::before, &::after {
          content: '';
          position: absolute;
          left: 22%; top: -20px;
          border: 10px solid transparent;
          border-bottom: 10px solid #fff;
        }
        &::after {
          border-bottom: 10px solid #2078b6;
          top: -19px;
        }
      }

      &:nth-child(7n) {
        .hide-item {
          left:auto;
          right: 0;
          &::before, &::after {
            left:auto;
            right: 22%;
          }
        }
      }
    }
    .img {
      height: 60px;
     }
    .txt {
      margin-top: 23px;
      height: 30px;
      position: relative;
      &-ico {
        padding-left: 30px;
        text-align: left;
        &::before {
          content: '';
          width: 24px;
          height: 30px;
          background: url("../images/cat-ico.png") center center no-repeat;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  &-news,
  &-sale,
  &-hit {
    .cell {
      padding-left: 0;
      padding-right: 0;
      @media (min-width: $screen-desktop) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  &-card {
    &__item {
      background-color: white;
      border: 1px solid #e8e8e8;
      box-shadow: 0 2px 3.8px 0.2px rgba(0, 1, 3, 0.1);
      line-height: 1.3;
      color: #707171;
      margin-left: -1px;
      margin-top: -1px;
      margin-bottom: 4px;
      @media (min-width: $screen-adaptive-nav) {
        text-align: center;
        //margin-bottom: 0;
      }
      @media (min-width: $screen-desktop) {
        margin: 0;
        margin-bottom: 30px;
      }
      &--table {
        text-align: left;
        margin-bottom: 6px;
        display: table;
        width: 100%;
        .index-card {
          &-img {
            text-align: center;
            background-color: #f8f8f8;
            border: 1px solid #e8e8e8;
            display: table-cell;
            vertical-align: middle;
            width: 23%;
            height: auto;
            line-height: 1;
          }
          &-desc {
            display: table-cell;
            vertical-align: middle;
            width: 77%;
            ul { margin: 0;}
          }
          &-price { margin: 0;}
          &-title {
            margin-bottom: 40px;
          }
        }
      }
    }
    &-desc {
      padding: 15px 10px;
      display: inline-block;
      vertical-align: top;
      width: 60%;
      @media (min-width: $screen-adaptive-nav) {
        width: 100%;
        display: block;
      }
      @media (min-width: $screen-desktop) {
        padding: 15px 20px;
      }
    }
    &-img {
      width: 38%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      @media (min-width: $screen-adaptive-nav) {
        width: 100%;
        display: block;
        height: 196px;
        line-height: 193px;
        border-bottom: 1px solid #e8e8e8;
      }
      .badge {
        position: absolute;
        top: 0;
        left: 0;
        img { vertical-align: top;}
      }
    }
    &-title {
      h4 {
        font-weight: 500;
        margin-top: 0;
        font-size: 14px;
        @media (min-width: $screen-adaptive-nav) {
          font-size: $font-size-h4;
        }
      }
      a {
        color: $color-type-1a;
        text-decoration: none;
        &:hover { text-decoration: underline;}
      }
    }
    &-price {
      margin-bottom: 8px;
      font-size: 18px;
      @media (min-width: $screen-adaptive-nav) {
        font-size: 23px;
      }
      @media (min-width: $screen-desktop) {
        font-size: 30px;
      }
      b {
        color: $color-type-1a;
      }
      span {
        font-weight: 300;
        vertical-align: middle;
      }
      .type {  color: #8b8a8a;}
      .old {
        font-weight: 400;
        text-decoration: line-through;
        font-size: 12px;
        float: right;
        color: #000;
        margin-top: 7px;
        display: inline-block;
        text-align: left;
        @media (min-width: $screen-adaptive-nav) {
          color: #8b8a8a;
          font-size: 16px;
          margin: 0 10px 0 0;
          float: none;
        }
        &-txt {
          font-size: 13px;
          display: none;
          @media (min-width: $screen-adaptive-nav) {
            display: block;
          }
        }
      }
    }
    &-btn {
      i::before {
        font-size: 21px;
        vertical-align: middle;
      }
    }
  }

  &-news {
    &__item {
      background-color: white;
      border: 1px solid #e8e8e8;
      box-shadow: 0 2px 3.8px 0.2px rgba(0, 1, 3, 0.1);
      margin-bottom: 4px;
      line-height: 1.3;
      color: #707171;
      @media (min-width: $screen-adaptive-nav) {
        margin-bottom: 30px;
        text-align: center;
      }
    }
    &-desc {
      padding: 15px 10px;
      display: inline-block;
      vertical-align: top;
      width: 60%;
      @media (min-width: $screen-adaptive-nav) {
        width: 100%;
        display: block;
      }
      @media (min-width: $screen-desktop) {
        padding: 15px 30px;
      }
    }
    &-date {
      color: #7d7d7d;
      font-size: 14px;
    }
    &-img {
      width: 38%;
      display: inline-block;
      vertical-align: top;
      @media (min-width: $screen-adaptive-nav) {
        width: 100%;
        display: block;
        height: 193px;
        line-height: 193px;
        border-bottom: 1px solid #e8e8e8;
      }
    }

    &-title {
      h4 {
        font-weight: 500;
        margin-top: 0;
        font-size: 14px;
        @media (min-width: $screen-adaptive-nav) {
          font-size: $font-size-h4;
        }
        a {
          color: $color-type-1a;
          text-decoration: none;
          &:hover { text-decoration: underline;}
        }
      }
    }
    &-link {
      font-size: 14px;
      font-family: 'Lora';
      a {
        color: $color-type-3a;
        text-decoration: none;
      }
    }
  }

  &-type {
    .inner {
      padding: 40px 0;
      margin-bottom: 0;
    }
  }
}


.card {
  label {
    color: #989898;
    line-height: 1.1;
  }
  &.tabs {
    margin-top: 30px;
  }
  &__item {
    padding: 40px 0;
  }
  .table {
    tr {border-bottom: 1px solid #dfdfdf}
    .type {
      color: #929292;
    }
    .desc {
      color: #2a2a2a;
    }
  }
  .btn--long {
    width: 280px;
  }
  .tabs__caption {
    li {
      color: #696c70;
      font-size: 18px;
      text-transform: uppercase;
      padding: 10px 30px;
      cursor: pointer;
      border-bottom: 4px solid transparent;
      display: block;
      &.active {
        color: $base-color-main;
        border-color: #069cf5;
      }
      @media (min-width: $screen-adaptive-nav) {
        display: inline-block;
      }
    }
  }
  .review {
    .btn__lg {
      max-width: 320px;
      height: 56px;
      line-height: 2;
      position: relative;
      margin:auto;
      img {
        position: absolute;
        left: 30px;
        top: 35%;
      }
    }
  }
  .btn i,
  .btn img {
    margin-right: 8px;
  }
  .btn__lg {
    height: 60px;
    line-height: 40px;
  }
  .list--inline {
    font-size: 0;
    li {
      font-size: 16px;
    }
  }
  &-price {
    .price {
      font-size: 30px;
      font-weight: 700;
      color: $base-color-main;
    }
    &--old {

      .price {
        color: #8a8a8a;
        font-size: 25px;
        font-weight: 400;
        height: 51px;
        text-decoration: line-through;
      }
    }
  }
  .slider-for1, .slider-nav1 {
    img { display: inline-block;}
    text-align: center;
    .slick-slide {
      margin: 7px;
      background-color: #f8f8f8;
      box-shadow: 0 1px 6.2px 0.8px rgba(65, 65, 61, 0.15);
    }
  }
}

.sitemap {
  padding: 15px;
  @media (min-width: $screen-adaptive-nav) {
    padding: 30px 90px;
  }
  li {
    padding: 6px 0;
  }
  a {
    text-decoration: none;
    //line-height: 2;
    //display: block;
    &:hover {
      text-decoration: underline;
    }
  }
  &-title {
    text-transform: none;
    a {
      color: $base-color-main;
      font-weight: 500;
    }
  }
  &-primary {
    margin-left: 10px;
    @media (min-width: $screen-adaptive-nav) {
      margin-left: 40px;
    }
    a {
      font-size: 25px;
      color: #303030;
      font-weight: 500;
    }
  }
  &-secondary {
    margin-left: 10px;
    @media (min-width: $screen-adaptive-nav) {
      margin-left: 60px;
    }
    a {
      color: $color-type-1a;
      font-size: 21px;
      font-weight: 400;
    }
  }
  &-third {
    margin-left: 10px;
    @media (min-width: $screen-adaptive-nav) {
      margin-left: 60px;
    }
    a {
      color: #515151;
      font-size: 16px;
      font-weight: 400;
    }
  }
}


.news {
  margin-bottom: 35px;
  &__item {
    padding: 18px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 6px 5.6px 0.4px rgba(0, 1, 3, 0.07);
    h3 {
      margin: 0;
    }
    .date {
      display: inline-block;
      margin-bottom: 15px;
    }
  }
}

.one-news {
  &__item {
    padding: 18px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 6px 5.6px 0.4px rgba(0, 1, 3, 0.07);
    p {
      color: #303030;
      margin-bottom: 25px;
      font-size: 18px;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 5px;
      font-weight: 500;
    }
  }

  &--title {
    margin-bottom: 45px;
  }
  &--footer {
    margin-top: 55px;
  }

  .slider-for1, .slider-nav1 {
    img { display: inline-block;}
    text-align: center;
    .slick-slide {
      margin: 7px;
      background-color: #f8f8f8;
      box-shadow: 0 1px 6.2px 0.8px rgba(65, 65, 61, 0.15);
    }
  }
}

.compare {
  margin-bottom: 0;
  &--title {
    width: 100%;
    padding-right: 1%;
    display: inline-block;
    vertical-align: top;
    @media (min-width: $screen-adaptive-nav) {
      width: 35%;
    }
    @media (min-width: $screen-desktop) {
      width: 27%;
    }
  }
  &--body {
    width: 100%;
    display: inline-block;
    overflow: auto;
    white-space: nowrap;
    @media (min-width: $screen-adaptive-nav) {
      width: 64%;
      .index-card__item {
        margin-bottom: 30px;}
      .index-card-desc {
        padding: 15px 20px;}
    }
    @media (min-width: $screen-desktop) {
      width: 72%;
    }
  }
  &--info {
    color: #858585;
    font-size: 18px;
  }

  @media (min-width: $screen-adaptive-nav) {
    &--txt {
      height: 500px;
    }
  }
  &--item {
    font-size: 18px;
    width: 300px;
    display: inline-block;
    white-space: normal;
    @media (min-width: $screen-adaptive-nav) {
      margin: 0 10px;
    }
  }
  .index-card__atr {
    padding: 20px;
    color: #373737;
    background-color: white;
    border: 1px solid #e8e8e8;
    box-shadow: 0 2px 3.8px 0.2px rgba(0, 1, 3, 0.1);
  }
  .index-card-img {
    height:auto;
    line-height: 1;
  }
}

.order {
  color: #767676;
  margin-bottom: 0;
  &__item {
    margin-bottom: 30px;
  }
  h3 {
    margin-top: 5px;
  }
  label {
    color: #767676;
  }
  ul {
    margin-top: 10px;
    @media (min-width: $screen-adaptive-nav) {
      margin-left: 25px;
    }
  }
  .form__group {
    margin-bottom: 35px;
  }
  .btn {
    height: 60px;
    font-size: 21px;
    padding: 15px 50px;
  }
}

.cart {
  @media (min-width: $screen-desktop) {
    padding: 20px;
  }
  table {
    text-align: center;
    td {
      padding: 20px;
    }
    img {
      max-width: none;
    }
  }
  &-price {
    color: $color-type-1a;
    font-size: 21px;
    font-weight: 500;
    span {
      color: #8b8a8a;
      font-weight: 300;
    }
    &--old {
      color: #575757;
      font-size: 18px;
      font-weight: 400;
      text-decoration: line-through;
    }
  }
  &-info {
    text-align: left;
    h3 {
      font-size: 16px;
      @media (min-width: $screen-adaptive-nav) {
        font-size: 21px;
      }
    }
  }
  &-img {
    width: 16%;
    background-color: #f8f8f8;
  }
  .btn {
    width: 230px;
  }
  h3 {
    margin-top: 0;
  }
  .counter {
    //color: $base-color-main;
    text-decoration: none;
    //font-size: 22px;
  }
  input {
    text-align: center;
  }
  .list--table > li {
    display: table-cell;
    width: 0%;
  }
  .btn__lg {
    height: 60px;
    line-height: 1.9;
  }
  button.btn__lg {
    color: #fff;
    text-align: right;
    line-height: 1;
    span {color: #fff;}
  }
  .product-quantity__input {
    width: 90px;
  }
}

.catalog {
  &-txt {
    padding: 20px;
    margin-bottom: 30px;
    @media (min-width: $screen-adaptive-nav) {
      padding: 40px;
    }
  }

  &-btn {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    @media (min-width: $screen-adaptive-nav) {
      display: block;
    }
  }

  &-qst {
    text-align: center;
    background-color: #eee;
    padding: 20px;
    h2 {
      color: $base-color-main;
      font-size: 25px;
      //font-weight: 700;
      text-transform: uppercase;
      margin-top: 10px;
    }
  }
}

.search-bar {
  padding: 20px;
  button {
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 16px;
    top: 5px;
  }
}

.with-sidebar {
  h3 { margin-top: 10px; }
}

.fg {
  &-sort {
    @include clearfix();
    @extend .template;
    //margin-bottom: 20px;
    padding: 10px 7px;
    @media (min-width: $screen-adaptive-nav) {
      padding: 15px 20px;
    }
    ul { margin: 0;}
  }


  &-filter {
  }

  &-accordion {
    background-color: white;
    box-shadow: 0 2px 5.9px 0.1px rgba(0, 1, 3, 0.19);
    .accordion + .accordion {margin-top: -1px;}
    label {
      color: #474646;
    }
    &__section {
      &--mobile {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
        left: -100%;
        width: 100%;
        @include transition();
        background-color: #fff;
        z-index: 10;
        &.active {
          left: 0;
        }
        .list--table {
          padding: 14px;
          margin: 0;
          font-weight: 400;
          li { vertical-align: middle;}
        }
        i {
          font-size: 23px;
          color: $base-color-main;
          &::before {
            width: auto;
            margin: 0;
          }
        }
        @media (min-width: $screen-adaptive-nav) {
          background-color: transparent;
          position: static;
        }
      }
      &--content {
        padding: 15px 20px;
        display: none;
        //&.active {
        //  display: block;
        //}
        .noUi-target { margin-top: 20px; }
      }
      &--title {
        //display: block;
        position: relative;
        padding: 5px 20px;
        cursor: pointer;
        display: block;
        color: #00318d;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;

        &::before {
          content: '';
          width: 24px;
          height: 26px;
          background: url("../images/cat-ico.png") center center no-repeat;
          position: absolute;
          top: 50%;
          right: 20px;
          margin-top: -13px;
        }
        @media (min-width: $screen-adaptive-nav) {
          //display: none;
        }
        &.active::before {
          background: url("../images/cat-ico-a.png") center center no-repeat;
        }
      }

      &--menu {
        .fg-accordion__section {
          &--title {
            font-weight: 500;
            padding: 10px 20px;
            &.active {
              color: #fff;
              background-color: #f6b553;
            }
          }
          &--content {
            padding: 0;
            ul {  margin: 0;}
            a {
              color: #474646;
              display: block;
              text-decoration: none;
              padding: 5px 20px;
              &:hover,
              &.active {
                color: #fff;
                background-color: $color-type-1a;
              }
            }
          }
        }
      }
    }

    .accordion-content--mobile{
      display: none;
      @media (min-width: $screen-adaptive-nav) {
        display: block !important;
      }
    }
    .accordion-title--mobile {
      //display: block;
      @media (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    .range-slider {
      img {
        max-width: none;
      }
    }
  }


}
//filter

.star-rating{
}
.star-rating__wrap{
  display: inline-block;
  margin-top: 5px;
}
.star-rating__wrap:after{
  content: "";
  display: table;
  clear: both;
}
.star-rating__ico{
  float: right;
  padding-left: 3px;
  cursor: pointer;
  color: $base-color-main;
  font-size: 19px;
}
.star-rating__ico:last-child{
  padding-left: 0;
}
.star-rating__input{
  display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
  content: "\e80f";
}

.dropdown {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 150%;
  box-shadow: 0 3px 18.1px 3.9px rgba(0, 1, 3, 0.33);
  background-color: white;
  max-width: 525px;
  padding: 20px;
  z-index: 99;
  min-width: 320px;
  @media (min-width: $screen-adaptive-nav) {
    min-width: 450px;
  }
  &.active {
    display: block;
  }
  &-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
  }
  &::before, &::after {
    content: '';
    position: absolute;
    left: 30%; top: -40px;
    border: 20px solid transparent;
    border-bottom: 20px solid #fff;
  }
  &::after {
    border-bottom: 20px solid white;
    top: -39px;
  }
}