//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: $breadcrumb-padding-vertical 0;
    margin-bottom: 0;
    list-style: none;
    background-color: $breadcrumb-bg;
    display: none;
    @media (min-width: $screen-adaptive-nav) {
      display: block;
    }

    > li {
      display: inline-block;

      a {color: $breadcrumb-color}

      + li {
        &:before {
          content: " > ";
          padding: 0 5px;
          color: $breadcrumb-color;
        }
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
  }
}