//
// Modules -> Navs
// --------------------------------------------------

.nav {
  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    @include clearfix;
  }
  li {
    position: relative;
    display: block;

    padding: 10px 4px;
    @media (min-width: $screen-xlg-desktop) {
      padding: $nav-link-padding;
    }
    @media (min-width: $screen-adaptive-nav) {
      display: inline-block;
    }
    a {
      font-size: 12px;
      position: relative;
      display: block;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      background-color: transparent;
      @media (min-width: $screen-xlg-desktop) {
        font-size: 15px;
      }
    }
    &:hover a,
    &:focus a {
      //background-color: $nav-link-hover-bg;
      text-decoration: underline;
    }
  }
  li > a > img {
    max-width: none;
  }

  &__justified {
    width: 100%;

    li {
      float: none;
      > a {
        text-align: center;
        margin-bottom: 5px;
      }
    }
    @media (min-width: $screen-adaptive-nav) {
      li {
        display: table-cell;
        width: 1%;
        > a {
          margin-bottom: 0;
        }
      }
    }
  }

  &__fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: $zindex-navbar-fixed;
  }
}

.sub-nav {
  li {
    display: block;
    a {padding-left: 30px;}
    a:hover {
      background: $subnav-link-hover-bg;
    }
  }
  @media (min-width: $screen-adaptive-nav) {
    display: none;
    position: absolute;
    background: $gray-darken;
    top: 100%;
    right: 0;
    min-width: 200px;
    li:hover & {
      display: block;
    }
    a {padding-left: 15px;}
  }
}

.main-nav {
  &__toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
    .icon-bar {
      display: block;
      width: 30px;
      height: 2px;
      background: #000;
      border-radius: 1px;
    }
    .icon-bar + .icon-bar {
      margin-top: 4px;
    }
    @media (min-width: $screen-adaptive-nav) {
      display: none;
    }
  }
  &__collapse {
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    @include clearfix;
    -webkit-overflow-scrolling: touch;
    //clear: left;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;

    &.in {
      overflow-y: auto;
    }

    @media (min-width: $screen-adaptive-nav) {
      position: static;
      display: block !important;
      width: auto;
      border-top: 0;
      box-shadow: none;

      &.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
      }

      &.in {
        overflow-y: visible;
      }
    }
  }
}

.navbar {
  position: relative;
  @include clearfix();
  @media (min-width: $screen-adaptive-nav) {
    &__left {
      float: left;
    }
    &__right {
      float: right;
    }
  }
}