//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 0 $line-height-computed;
    border-radius: $border-radius-base;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 5.6px 0.4px rgba(0, 1, 3, 0.07);

    &__item {
      display: inline-block;
      text-transform: uppercase;
      margin-left: 0;
      a,
      span {
        position: relative;
        float: left;
        padding: 9px 8px;
        line-height: 1.1;
        text-decoration: none;
        color: $pagination-color;
        background-color: $pagination-bg;
        border: 1px solid $pagination-border;
        @include border-radius(0);
      }
      &:first-child {
        a,
        span {
          margin-left: 0;
          @include border-left-radius($border-radius-base);
          color: $color-type-1a;
          //background-color: $pagination-bg;
          &.disabled {
            color: #dcdcdc;
            &:hover,
            &:focus {
              cursor: default;
              color: #dcdcdc;
              background-color: transparent;
              border-color: transparent;
            }
          }
        }
      }
      &:last-child {
        a,
        span {
          @include border-right-radius($border-radius-base);
          color: $color-type-1a;
          //background-color: $pagination-bg;
          &.disabled {
            color: #dcdcdc;
            &:hover,
            &:focus {
              cursor: default;
              color: #dcdcdc;
              background-color: transparent;
              border-color: transparent;
            }
          }
        }
      }
    }

    &__item a,
    &__item span {
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }

    &__item.active a,
    &__item.active span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }
  }
}
