//
// Modules -> Space
// --------------------------------------------------

@if $use-space == true {
  //
  // padding
  //
  $a: 0;
  @while $a < 101 {
    .padtop#{$a} {
      @include padtop(1px * $a);
    }
    .padbot#{$a} {
      @include padbot(1px * $a);
    }
    $a: $a + 10;
  }
.padleft10 {
  padding-left: 10px;
}
.padright10 {
  padding-right: 10px;
}
  //
  // margin
  //
  $b: 0;
  @while $b < 101 {
    .margright#{$b} {
      @include margright(1px * $b);
    }
    .margbot#{$b} {
      @include margbot(1px * $b);
    }
    .margtop#{$b} {
      @include margtop(1px * $b);
    }
    $b: $b + 10;
  }
}