footer.page-footer
    .container
        .page-footer__mobile.visible__sm.visible__xs
            ul.list--inline
                li.cell__xs-3
                    a.btn.btn--info.popup-modal(href="#phone-id") #[img(src="images/phone-ico.png", alt="")]
                li.cell__xs-9.text--uppercase
                    p
                        a.text__xlg(href="tel:88126400606") 8 (812) 640-06-06
                        .text__md Шоу-Рум и Склад: #[br] ул.Литовская, д.17а #[br]
                        a.dotted(href="#"): span.text__md Все магазины
                    p
                        .text__md Бесплатно по России
                        a.text__xlg(href="tel:88005551310") 8 (800) 555-13-10
            ul.list--inline
                li.cell__xs-6
                    div Социальные сети
                    ul.list--inline
                        li: a(href="#"): img(src="images/vk-ico.png", alt="")
                        li: a(href="#"): img(src="images/tw-ico.png", alt="")
                        li: a(href="#"): img(src="images/od-ico.png", alt="")
                        li: a(href="#"): img(src="images/gplus-32.png", alt="")
                        li: a(href="#"): img(src="images/fb-ico.png", alt="")
                li.cell__xs-6
                    div Мы принимаем к оплате
                    img(src="images/cards-footer.png", alt="")
        .inner.hidden__sm.hidden__xs
            .item.page-footer__logo
                .logo
                    img(src="images/logo-footer.png", alt="")
                    p.margtop10.text--uppercase Интернет магазин товаров #[br] для детей
                div Мы принимаем к оплате
                img(src="images/cards-footer.png", alt="")
            .item.page-footer__menu.cell__xlg-5.cell__md-8
                .clearfix
                    .cell.cell__lg-4
                        ul.list--unstyled
                            li: a(href="#") О компании
                            li: a(href="#") Как купить
                            li: a(href="#") Доставка
                    .cell.cell__lg-4
                        ul.list--unstyled
                            li: a(href="#") Сотрудничество
                            li: a(href="#") Отзывы
                            li: a(href="#") Статьи
                    .cell.cell__lg-4
                        ul.list--unstyled
                            li: a(href="#") Контакты
                            li: a(href="#") Сертификаты
                            li: a(href="#") Карта сайта
                .clearfix
                    .cell.cell__xs-12
                        p.copy © 2000-2016 «Бэбиспорт» - интернет-магазин детских спортивных товаров. Предложения не являются публичной офертой.
            .item.page-footer__info
                .row
                    .cell.cell__xlg-6.info-item.cell__md-4
                        .phone-info
                        .phone: a(href="tel:88126400606") + 8 (812)  #[b 640-06-06]
                        select.form-control.select-hard(style="width:100%")
                            option Санкт-Петербург
                            option Москва
                            option Екатеринбург
                            option Нижний Новгород
                            option Краснодар
                        a.dotted(href="#"): span Все магазины
                    .cell.cell__xlg-6.cell__md-8
                        .inner
                            .item.cell__xlg-12.cell__md-6
                                .phone-info Бесплатно по России
                                .phone: a(href="tel:88126400606") + 8 (812)  #[b 640-06-06]
                                a.btn.btn--info.btn--full.btn__sm.popup-modal(href="#phone-id") #[img(src="images/phone-ico.png", alt="")] Обратный звонок
                            .item.cell__xlg-12.cell__md-6
                                div Социальные сети
                                ul.list--inline
                                    li: a(href="#"): img(src="images/vk-ico.png", alt="")
                                    li: a(href="#"): img(src="images/tw-ico.png", alt="")
                                    li: a(href="#"): img(src="images/od-ico.png", alt="")
                                    li: a(href="#"): img(src="images/gplus-32.png", alt="")
                                    li: a(href="#"): img(src="images/fb-ico.png", alt="")
