header.page-header
    .page-header__mobile.visible__sm.visible__xs
        .container.relative
            ul.list--table
                li.cell__xs-6
                    ul.list--inline
                        li.cell__xs-3
                            nav.nav.main-nav
                                a.main-nav__toggle--closed.main-nav__toggle--js(href="#")
                                    .btn.btn--primary
                                        i.icon-menu
                                .main-nav__collapse
                                    +menu(navigation)
                        li.cell__xs-8
                            a(href="/"): .header__logo-img: img(src="images/logo-mobile.png", alt="logo")
                            select.form-control.select-city
                                option Санкт-Петербург
                                option Москва
                                option Екатеринбург
                                option Нижний Новгород
                                option Краснодар
                li.cell__xs-6
                    ul.list--inline
                        li: a.btn.btn--primary.popup-modal(href="#phone-id") #[img(src="images/phone-ico.png", alt="")]
                        li
                            a(href="#")
                                .cart__ico.btn.btn--primary.relative
                                    i.icon-basket
                                    .count 10
                        li
                            a.popup-modal.dotted(href="#auth-id") #[i.btn.btn--primary.icon-lock]
                                span.text--primary.text__sm.text--uppercase Вход
    .page-header__top.hidden__sm.hidden__xs
        .container
            .inner
                .item.page-header__logo
                    a(href="/")
                        .header__logo-img: img(src="images/logo.png", alt="logo")
                        .header__logo-title Интернет магазин товаров #[br] для детей
                .item.page-header__phone
                    p Бесплатно по России #[br]
                        a.text__xlg(href="tel:88005551310") + 8 (800)  #[span.text--primary 555-13-10]
                    a.btn.btn--info.btn__sm.popup-modal(href="#phone-id") #[img(src="images/phone-ico.png", alt="")] Обратный звонок
                .item.page-header__list
                    select.form-control.select-hard(style="width:100%")
                        option Санкт-Петербург
                        option Москва
                        option Екатеринбург
                        option Нижний Новгород
                        option Краснодар
                    p #[span.text--uppercase Шоу-Рум и Склад:] #[br] ул.Литовская, д.17а #[br]
                        a.text__xlg(href="tel:88126400606") + 8 (812)  #[span.text--primary 640-06-06]
                .item.page-header__info
                    .cart
                        .text__md.text--uppercase В вашей корзине
                        .cart-main
                            .cart__txt
                                b.text--primary 10 235
                                span  руб.
                            .cart__ico
                                a(href="#"): i.icon-basket
                                .count 10
                        .text__md: a(href="#") Отложенные
                        a.text--uppercase.text__md.text--info.dotted.popup-modal(href="#send-id"): span Что с моим заказом?
                .item.page-header__auth
                    .auth-inner.text--left
                        p.text__md: a.text--uppercase.dotted.popup-modal(href="#reg-id"): span Регистрация
                        if title == 'Главная'
                            .text__md: a.text--uppercase.dotted.popup-modal(href="#auth-id") #[i.icon-lock.text--info] #[span Вход]  #[i.icon-down-open]
                        else
                            .text__md: a.text--uppercase.dotted.popup-modal(href="#auth-id") #[i.icon-user-circle.text--info] #[span Выход]  #[i.icon-down-open]
    .page-header__bottom.relative
        .container
            .inner
                .item.page-header__catalog
                    a.page-header__catalog--js(href="#")
                        i.icon-menu
                        span  Каталог
                    .catalog-inner
                        ul
                            li.catalog-inner__item
                                a.page-header__catalog--js(href="#") Домашние спорткомплексы
                                ul.sub-menu
                                    li.sub-menu__item: a(href="#") Г-образные
                                    li.sub-menu__item: a(href="#") Т-образные
                                    li.sub-menu__item: a(href="#") Пристеночные
                                    li.sub-menu__item: a(href="#") Деревянные спорткомплексы
                                    li.sub-menu__item: a(href="#") Многоопорные
                                    li.sub-menu__item: a(href="#") Напольные ДСК
                                    li.sub-menu__item: a(href="#") Дополнительное оборудование
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Шведские стенки
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Детские площадки, домики, качели
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Турники, брусья
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Детская мебель
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Изделия из пластика
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Батуты
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Детский транспорт
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Детские автокресла
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Коврики детские
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Игровые столы
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Детские горки
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Домики
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Качели
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Песочницы
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Бассейны
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Игрушки
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Конструкторы
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Тренажеры
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Подарочные сертификаты
                            li.catalog-inner__item: a.page-header__catalog--js(href="#") Производители
                .item.page-header__menu.cell__xlg-8.cell__md-10
                    nav.nav.main-nav
                        .main-nav__collapse
                            +menu(navigation)
                .item.page-header__search.pull-right.hidden__xs.hidden__sm
                    .search.search--js
                        form(action="", method="post")
                            input.form-control(type="text", name="search", placeholder="Введите запрос")
                            button(type="submit"): i.icon-search
