main.page-main
    .container
        include ../components/_breadcrumbs
        .text--center
            h1.margtop0= title
    section.template.template--decor.card.card__item
        .container
            .row
                .cell.cell__lg-4.cell__xs-12
                    .slider-for1
                        div: img(src="images/new.jpg", alt="")
                        div: img(src="images/new.jpg", alt="")
                    .slider-nav1.margbot20
                        div: img(src="images/new-1.jpg", alt="")
                        div: img(src="images/new-2.jpg", alt="")
                .cell.cell__lg-8.cell__xs-12
                    .row
                        .cell.cell__xlg-3.cell__md-4.cell__xs-6.card-price
                            label Цена
                            .price 16 650 р.
                        .cell.cell__xlg-2.cell__md-4.cell__xs-6.card-price--old
                            label Старая цена
                            .price 18 650 р.
                        .cell.cell__xlg-3.cell__md-4.cell__sm-6.cell__xs-12.card-rating
                            label Рейтинг
                            .star-rating
                                .star-rating__wrap
                                    span.pull-right (3)
                                    input.star-rating__input#star-rating-5(type="radio", name="rating", value="5")
                                    label.star-rating__ico.icon-star-empty(for="star-rating-5")
                                    input.star-rating__input#star-rating-4(type="radio", name="rating", value="4")
                                    label.star-rating__ico.icon-star-empty(for="star-rating-4")
                                    input.star-rating__input#star-rating-3(type="radio", name="rating", value="3")
                                    label.star-rating__ico.icon-star-empty(for="star-rating-3")
                                    input.star-rating__input#star-rating-2(type="radio", name="rating", value="2")
                                    label.star-rating__ico.icon-star-empty(for="star-rating-2")
                                    input.star-rating__input#star-rating-1(type="radio", name="rating", value="1")
                                    label.star-rating__ico.icon-star-empty(for="star-rating-1")
                        .cell.cell__xlg-4.cell__sm-6.cell__xs-12.card-share
                            ul.list--inline
                                li: img(src="images/share-1.jpg", alt="")
                                li: img(src="images/share-2.jpg", alt="")
                    ul.list--inline
                        li.cell__md-3.cell__sm-6.cell__xs-12
                            .form__group
                                label Комплектация
                                select.form-control
                                    option Максимальная
                                    option Максимальная
                                    option Максимальная
                        li.cell__md-3.cell__sm-6.cell__xs-12
                            .form__group
                                label Цвет
                                select.form-control
                                    option Натуральный
                                    option Натуральный
                                    option Натуральный
                        li.cell__md-3.cell__sm-6.cell__xs-12
                            .form__group
                                label Высота
                                select.form-control
                                    option 1,5 м.
                                    option 1,5 м.
                                    option 1,5 м.
                        li.cell__md-3.cell__sm-6.cell__xs-12
                            .form__group
                                label Лаковое покрытие для улицы
                                select.form-control
                                    option Есть
                                    option Есть
                                    option Есть
                    ul.list--inline
                        li.cell__xlg-5.cell__sm-6.cell__xs-12
                            a.btn.btn__lg.btn--full.btn--info.text--uppercase(href="#") #[i.icon-basket]  Добавить в корзину
                        li.cell__md-3.text--center
                            a.text--primary(href="#") • Отложить товар
                        li.cell__md-3.text--center
                            a.text--primary(href="#") • Сравнить товары
                    ul.list--inline
                        li.cell__md-5.text--center
                            a.btn.btn--success.btn--long.text--uppercase(href="#") Купить в 1 клик!
                    ul.list--inline.text--center
                        li.cell__xlg-4.cell__lg-5.cell__md-4.margtop10
                            a.btn.btn--full.btn--primary.text--uppercase(href="#") #[img(src="images/card-ico-3.png", alt="")] Нашли дешевле?
                        li.cell__xlg-3.cell__lg-5.margtop10
                            a.text--primary.text--uppercase(href="#") • Условия акции
                        li.cell__xlg-3.margtop10
                            a.btn.btn--grey.text--uppercase(href="#") #[img(src="images/card-ico-1.png", alt="")] Доставка
                        li.cell__xlg-2.margtop10
                            a.btn.btn--grey.text--uppercase(href="#") #[img(src="images/card-ico-2.png", alt="")] Сборка

    .tabs.card
        .container
            ul.tabs__caption
                li.active Описание
                li Характеристики
                li Отзывы
        section.template.template--decor.card.card__item
            .container
                .tabs__content.active
                    p Детский комплекс «Шалун Радуга» - идеальный вариант, позволяющий легко организовать у себя дома настоящий спортивно-игровой уголок. Яркие цвета комплекса привлекут внимание Вашего малыша и создадут отличное настроение.
                    .text--center
                        h3.text--primary Данный комплекс выпускается в различных комплектациях:
                    ul.list--bullet
                        li базовая модель - в комплектацию входит комплекс (шведские стенки, рукоход, сеть для лазанья) и страховочный мат.
                        li стандартная комплектация – базовая модель дополнена спортивными снарядами (канат и гимнастические кольца).
                        li максимальная комплектация включает в себя шведские стенки, рукоход, сеть для лазанья, страховочный мат, канат, гимнастические кольца, а также горку с удобной площадкой.
                    .text--center
                        h3.text--primary Основные параметры:
                    table.table.table--condensed
                        tbody
                            tr
                                td.type Основание комплекса:
                                td.desc 1,2х1,27 м
                            tr
                                td.type Высота:
                                td.desc 1,65 м
                            tr
                                td.type Длина рукохода:
                                td.desc 1,2 м
                            tr
                                td.type Шаг перекладин:
                                td.desc 180 мм
                            tr
                                td.type Материал:
                                td.desc каркас – сосна сечением 35х90 мм, перекладины – береза диаметром 30 мм
                            tr
                                td.type Сеть:
                                td.desc полипропилен 10 мм
                            tr
                                td.type Длина горки:
                                td.desc 1,5 м
                            tr
                                td.type Допустимая нагрузка:
                                td.desc 80 кг
                            tr
                                td.type Масса комплекса:
                                td.desc 50 кг
                    .text--center
                        h3.text--primary Габариты упаковки:
                    ul.list--bullet
                        li 1,75х0,55х0,2 м (базовая комплектация)
                        li 0,65х0,2х0,35 м (стандартная комплектация)
                        li 1,55х0,5х0,15 м (максимальная комплектация)
                .tabs__content
                    .text--center
                        h3.text--primary Общая информация
                    table.table.table--condensed
                        tbody
                            tr
                                td.type.cell__xs-3 Возраст:
                                td.desc для малышей #[br] для детей #[br] для взрослых #[br] универсальные
                            tr
                                td.type.cell__xs-3 Производитель:
                                td.desc БэбиСпорт
                    .text--center
                        h3.text--primary Технические характеристики
                    table.table.table--condensed
                        tbody
                            tr
                                td.type.cell__xs-3 Материал:
                                td.desc деревянный
                .tabs__content
                    .review
                        ul.list--border
                            li
                                h3.text--primary Юлия
                                span.text--success 25.08.2016 16:57:30
                                p Никогда не думала, что спортивные комплексы для дома — это так удобно! На покупке настоял муж. Мы приобрели ДСК «Акварель». Моя дочь, 7-летняя Маша, очень полюбила кольца и веревочную лестницу, висит на них словно маленькая обезьянка чуть ли не часами. Хоть комплекс и рассчитан на детей, но я тоже иногда использую его, выполняю фитнес-упражнения у шведской стенки.
                            li
                                h3.text--primary Юлия
                                span.text--success 25.08.2016 16:57:30
                                p Никогда не думала, что спортивные комплексы для дома — это так удобно! На покупке настоял муж. Мы приобрели ДСК «Акварель». Моя дочь, 7-летняя Маша, очень полюбила кольца и веревочную лестницу, висит на них словно маленькая обезьянка чуть ли не часами. Хоть комплекс и рассчитан на детей, но я тоже иногда использую его, выполняю фитнес-упражнения у шведской стенки.
                        .text--center
                            a.btn.btn--info.btn--full.btn__lg.text--uppercase(href="#") #[img(src="images/plus.png", alt="")] Добавить отзыв

    .text--center
        h1.margtop40.margbot30.text--uppercase.text--primary Вместе с этим товаром покупают
    section.template.template--decor
        .container
            .row
                .cell.cell__xlg-3.cell__md-4.cell__xs-12
                    .index-card__item
                        .index-card-img
                            .badge
                                img(src="images/badge-1.png", alt="")
                            img(src="images/card-1.jpg", alt="")
                        .index-card-desc
                            .index-card-title
                                h4 Детский спортивный комплекс
                            .hidden__sm.hidden__xs
                                .text__md ДСК Карусель-01Р #[br] (ДСК-2Д.02.01)(темный)
                                img(src="images/decor.png", alt="")
                            .index-card-price
                                span.old 42 990 р.
                                b 12 450
                                span.type  руб.
                            .index-card-btn
                                a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить
                .cell.cell__xlg-3.cell__md-4.cell__xs-12
                    .index-card__item
                        .index-card-img
                            .badge
                                img(src="images/badge-2.png", alt="")
                            img(src="images/card-1.jpg", alt="")
                        .index-card-desc
                            .index-card-title
                                h4 Детский спортивный комплекс
                            .hidden__sm.hidden__xs
                                .text__md ДСК Карусель-01Р #[br] (ДСК-2Д.02.01)(темный)
                                img(src="images/decor.png", alt="")
                            .index-card-price
                                b 12 450
                                span.type  руб.
                            .index-card-btn
                                a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить
                - for (var x =  1; x < 3; x++)
                    .cell.cell__xlg-3.cell__md-4.cell__xs-12
                        .index-card__item
                            .index-card-img
                                .badge
                                    img(src="images/badge-3.png", alt="")
                                img(src="images/card-1.jpg", alt="")
                            .index-card-desc
                                .index-card-title
                                    h4 Детский спортивный комплекс
                                .hidden__sm.hidden__xs
                                    .text__md ДСК Карусель-01Р #[br] (ДСК-2Д.02.01)(темный)
                                    img(src="images/decor.png", alt="")
                                .index-card-price
                                    b 12 450
                                    span.type  руб.
                                .index-card-btn
                                    a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить
    .text--center
        h1.margtop40.margbot30.text--uppercase.text--primary Просмотренные товары
    section.template.template--info.margbot0
        .container
            .row
                - for (var x =  1; x < 5; x++)
                    .cell.cell__xlg-3.cell__md-4.cell__xs-12
                        .index-card__item
                            .index-card-img: img(src="images/card-1.jpg", alt="")
                            .index-card-desc
                                .index-card-title
                                    h4 Детский спортивный комплекс
                                .hidden__sm.hidden__xs
                                    .text__md ДСК Карусель-01Р #[br] (ДСК-2Д.02.01)(темный)
                                    img(src="images/decor.png", alt="")
                                .index-card-price
                                    b 12 450
                                    span.type  руб.
                                .index-card-btn
                                    a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить