main.page-main
    .container
        include ../components/_breadcrumbs
        h3.margtop0.text--primary= title
    section.template.template--decor.cart
        .container
            .table--responsive
                table.table.table--bordered
                    thead
                        tr
                            th(colspan="2") Товары
                            th Цена
                            th Количество
                            th Сумма
                            th
                    tbody
                        - for (var x = 1; x < 5; x++)
                            tr.highlight
                                td(colspan="6")
                            tr
                                td.cart-img: img(src="images/cart.jpg", alt="")
                                td.cart-info
                                    h3.text--info Детский спортивный комплекс "Шалун Радуга" ((Максимальная комплектация)(Темные стойки))
                                    .relative
                                        a.btn.btn--warning.dropdown--js(href="#") Параметры товара
                                        .dropdown
                                            .dropdown-close.dropdown-close--js: img(src="images/close-drop.png", alt="")
                                            ul.list--border
                                                li
                                                    .row
                                                        .cell.cell__xs-6 Варианты расцветок:
                                                        .cell.cell__xs-6 Без покраски
                                                li
                                                    .row
                                                        .cell.cell__xs-6 Покрытие крыши:
                                                        .cell.cell__xs-6 Без покрытия
                                                li
                                                    .row
                                                        .cell.cell__xs-6 Пол:
                                                        .cell.cell__xs-6 Из вагонки
                                                li
                                                    .row
                                                        .cell.cell__xs-6 Шаг перекладин:
                                                        .cell.cell__xs-6 180 мм
                                                li
                                                    .row
                                                        .cell.cell__xs-6 Материал:
                                                        .cell.cell__xs-6 Каркас – сосна сечением 35х90
                                td.text--nowrap
                                    p.cart-price 12 450  #[span руб.]
                                    p.cart-price--old 18 450  руб.
                                td
                                    ul.list--table
                                        li.v-middle.text--center
                                            a.counter.inc(href="#"): img(src="images/counter-2.png", alt="")
                                        li.v-middle.type
                                            input.form-control.product-quantity__input(type="text", value="3", data-step="1", readonly)
                                        li.v-middle.text--center
                                            a.counter.dec(href="#"): img(src="images/counter-1.png", alt="")
                                td.text--nowrap: p.cart-price 150 450 #[span руб.]
                                td: a.close--js(href="#"): img(src="images/close-cart.png", alt="")
            .row
                .cell.cell__xlg-3.cell__md-4.cell__xs-12.text--center
                    span Введите код купона для скидки:
                    input.form-control(type="text", value="1235-2415-8547")
                .cell.cell__xlg-9.cell__md-8.cell__xs-12.text__md--right.text--center
                    button.btn.btn--warning.btn__lg.margtop10
                        span.cart-price #[span Итого:]&nbsp;399 776 руб. #[br]
                        span.cart-price--old  18 450  руб.
                    a.btn.btn--info.btn__lg.margtop10(href="#") Оформить заказ
                    .margtop10
                        a.btn.btn--success(href="#") Купить в 1 клик!
    .text--center
        h1.margtop40.margbot30.text--uppercase.text--primary Рекомендуем добавить в заказ
    section.template
        .container
            .row
                .cell.cell__xlg-3.cell__md-4.cell__xs-12
                    .index-card__item
                        .index-card-img: img(src="images/card-1.jpg", alt="")
                        .index-card-desc
                            .index-card-title
                                h4 Детский спортивный комплекс
                            .hidden__sm.hidden__xs
                                .text__md ДСК Карусель-01Р #[br] (ДСК-2Д.02.01)(темный)
                                img(src="images/decor.png", alt="")
                            .index-card-price
                                span.old 42 990 р.
                                b 12 450
                                span.type  руб.
                            .index-card-btn
                                a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить
                - for (var x =  1; x < 4; x++)
                    .cell.cell__xlg-3.cell__md-4.cell__xs-12
                        .index-card__item
                            .index-card-img: img(src="images/card-1.jpg", alt="")
                            .index-card-desc
                                .index-card-title
                                    h4 Детский спортивный комплекс
                                .hidden__sm.hidden__xs
                                    .text__md ДСК Карусель-01Р #[br] (ДСК-2Д.02.01)(темный)
                                    img(src="images/decor.png", alt="")
                                .index-card-price
                                    b 12 450
                                    span.type  руб.
                                .index-card-btn
                                    a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить