main.page-main
    .container
        include ../components/_breadcrumbs
        .with-sidebar.catalog
            h3.text--primary= title
            .row
                include ../components/_filter
                section.cell.cell__lg-9.cell__xs-12.tabs
                    .template.template--decor.catalog-txt.margtop20
                        p Компактные размеры домашних спорткомплексов позволяют разместить их в комнатах даже с небольшой площадью. Легкость монтажа домашних игровых площадок также является значительным преимуществом.
                        p В дальнейшем вы можете усовершенствовать спортивный комплекс для дома, добавив нужное оборудование (например, баскетбольный щит, боксерскую грушу и т. п.)
                    .tabs
                        .fg-sort
                            .pull-left.cell__md-9.cell__xs-12.text--left
                                ul.list--inline
                                    li: a.btn.btn--default(href="#") Популярность #[i.icon-angle-down]
                                    li: a.btn.btn--default(href="#") Цена #[i.icon-angle-down]
                                    li.hidden__sm.hidden__xs: a.btn.btn--danger(href="#") Акционный товар #[i.icon-angle-down]
                            .pull-right.cell__md-3.cell__xs-12.text--right.hidden__sm.hidden__xs
                                ul.tabs__caption
                                    li.active: span: i.icon-menu
                                    li: span: i.icon-th
                        .tabs__content.active.hidden__sm.hidden__xs
                            - for (var x =  0; x < 9; x++)
                                .index-card__item.index-card__item--table
                                    .index-card-img: img(src="images/card-3.jpg", alt="")
                                    .index-card-desc
                                        .index-card-title
                                            h4 ДСК Карусель-01Р  (ДСК-2Д.02.01)(темный)
                                        ul.list--inline
                                            li.index-card-price
                                                b 12 450
                                                    span.type  руб.
                                            li.index-card-price
                                                .old
                                                    span.old-txt Старая цена #[br]
                                                    span.text--default 42 990 р.
                                            li: .index-card-btn
                                                a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Добавить в корзину
                                            li: a.text--primary.text__md(href="#") • Отложить товар
                            .text--center.text__md--left.text__xlg--center.relative.margtop30
                                include ../components/_paginator
                        .tabs__content.tabs__content--mobile
                            .row
                                - for (var x =  0; x < 9; x++)
                                    .cell.cell__md-4.cell__xs-12
                                        .index-card__item
                                            .index-card-img: img(src="images/card-1.jpg", alt="")
                                            .index-card-desc
                                                .index-card-title
                                                    h4 Детский спортивный комплекс
                                                .hidden__sm.hidden__xs
                                                    .text__md ДСК Карусель-01Р #[br] (ДСК-2Д.02.01)(темный)
                                                    img(src="images/decor.png", alt="")
                                                .index-card-price
                                                    .old
                                                        span.old-txt Старая цена #[br]
                                                        span.text--default 42 990 р.
                                                    b 12 450
                                                    span.type  руб.
                                                .index-card-btn.margbot10
                                                    a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить
                                                a.text--primary.text__md(href="#") • Отложить товар
                            .text--center.text__md--left.text__xlg--center.relative.margtop30
                                include ../components/_paginator
    section.catalog-qst
        h2 Возникли вопросы?
        ul.list--inline
            li: a.btn.btn--info.btn__sm.text--uppercase.popup-modal(href="#phone-id") #[img(src="images/phone-ico.png", alt="")] Обратный звонок
            li: a.btn.btn--info.btn__sm.text--uppercase(href="#") #[img(src="images/phone-ico.png", alt="")] Задать вопрос
    section.template
        .container
            p Организовать увлекательный и полезный досуг для ребенка стало гораздо проще. Спортивные комплексы для дома, представленные в магазине «БэбиСпорт», не оставят ребенка равнодушным. Мы предлагаем широкий ассортимент ДСК, как деревянных, так и металлических, по доступным ценам. У нас вы всегда сможете подобрать детский спортивный комплекс для малышей и детей постарше, исходя из ваших предпочтений и возможностей.
            p Большое количество моделей размещается между потолком и полом комнаты при помощи распора. Также у нас представлены спорткомплексы с пристенным способом крепления. Огромный выбор конструкций позволяет подобрать вариант, рассчитанный на ребенка конкретного возраста. Все домашние игровые площадки имеют сертификацию. Вы можете быть уверены в качестве и безопасности гимнастического инвентаря. У нас представлены модели детских спортивных комплексов различных марок для занятий в доме. Для заказа доступно множество вариантов различного дизайна.
            p Домашние спорткомплексы для детей очень функциональны и позволяют заниматься на различных снарядах:
            ul.list--bullet
                li кольцах
                li шведской стенке
                li канате
                li качелях
                li турниках и т. д.
            p Если у вас возникли вопросы о том, как купить спорткомплекс для дома, или по поводу технических характеристик домашнего игрового уголка для спорта, вы можете связаться с консультантами. Квалифицированные менеджеры подробно ответят и дадут рекомендации.