main.page-main
    .container
        include ../components/_breadcrumbs
        h3.text--primary= title
    section.template.compare
        .container
            .table--responsive
                .compare--title
                    .compare--txt
                        p.text--primary Показывать:
                        p: a.btn.btn--info.btn--full(href="#") Все характеристики
                        p: a.btn.btn--danger.btn--full(href="#") Только различающиеся
                    .compare--info.text--right.hidden__sm.hidden__xs
                        ul.list--border
                            li  Максимальная нагрузка, кг.:
                            li Размеры, мм.:
                            li Вес, кг.:
                            li Кол-во двигателей:
                            li Кол-во скоростей: #[br] &nbsp;
                            li Мощность двигателя, ВТ.:
                            li Зарядное устройство:
                            li Питание:
                            li Диаметр колес:
                            li Приемущества:
                .compare--body
                    - for (var x =  1; x < 9; x++)
                        .compare--item
                            .index-card__item
                                .index-card-img: img(src="images/compare.jpg", alt="")
                                .index-card-desc
                                    .index-card-title
                                        h4 Детский спортивный комплекс
                                        img(src="images/decor.png", alt="")
                                    .index-card-price
                                        b 12 450
                                        span  руб.
                                    .index-card-btn
                                        a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить
                            .index-card__atr
                                ul.list--border
                                    li 70-80
                                    li 1100x615x665
                                    li 50
                                    li 1
                                    li 2(Передняя и задняя) + 3 уровня мощности
                                    li 500
                                    li в комплекте
                                    li 36V/10-12AH
                                    li 13" (33см)
                                    li Комфорт езды и неприхотливая эксплуатация / Тяговитый старт и спокойная езда / Передний и задний "кенгурятник" / Система ограничения скорости - 3 ступени/ Возможна эксплуатация зимой... возможно катать второго ребенка на санках сзади


