main.page-main
    .slider.hidden__sm.hidden__xs
        .container
            .slider-inner
                div: img(src="images/slider.png")
                div: img(src="images/slider.png")
                div: img(src="images/slider.png")
                div: img(src="images/slider.png")
    section.index-catalog.hidden__sm.hidden__xs
        .text--center
            h1 Интернет-магазин «БэбиСпорт»
        .inner.template.template--decor
            .container
                - for (var x =  1; x < 3; x++)
                    .index-catalog__item
                        .img: img(src="images/cat-1.png", alt="")
                        .txt.txt-ico Домашние спорткомплексы
                        .hide-item
                            ul.list--table
                                li: ul.list--unstyled
                                    li: a(href="#") Г-образные
                                    li: a(href="#") Пристеночные
                                    li: a(href="#") Многоопорные
                                    li: a(href="#") Дополнительное оборудование
                                li: ul.list--unstyled
                                    li: a(href="#") Т-образные
                                    li: a(href="#") Деревянные спорткомплексы
                                    li: a(href="#") Напольные ДСК
                    a.index-catalog__item(href="#")
                        .img: img(src="images/cat-2.png", alt="")
                        .txt Шведские стенки
                - for (var x =  1; x < 9; x++)
                    .index-catalog__item.hidden__md.hidden__sm.hidden__xs
                        .img: img(src="images/cat-1.png", alt="")
                        .txt.txt-ico Домашние спорткомплексы
                        .hide-item
                            ul.list--table
                                li: ul.list--unstyled
                                    li: a(href="#") Г-образные
                                    li: a(href="#") Пристеночные
                                    li: a(href="#") Многоопорные
                                    li: a(href="#") Дополнительное оборудование
                                li: ul.list--unstyled
                                    li: a(href="#") Т-образные
                                    li: a(href="#") Деревянные спорткомплексы
                                    li: a(href="#") Напольные ДСК
                    a.index-catalog__item.hidden__md.hidden__sm.hidden__xs(href="#")
                        .img: img(src="images/cat-2.png", alt="")
                        .txt Шведские стенки
                .index-catalog__item.hidden__md.hidden__sm.hidden__xs
                    .img: img(src="images/cat-1.png", alt="")
                    .txt.txt-ico Домашние спорткомплексы
                    .hide-item
                        ul.list--table
                            li: ul.list--unstyled
                                li: a(href="#") Г-образные
                                li: a(href="#") Пристеночные
                                li: a(href="#") Многоопорные
                                li: a(href="#") Дополнительное оборудование
                            li: ul.list--unstyled
                                li: a(href="#") Т-образные
                                li: a(href="#") Деревянные спорткомплексы
                                li: a(href="#") Напольные ДСК
                .text--center.margtop10.hidden__lg
                    a.text__md.text--uppercase.text--primary(href="#"): b Все категории #[i.icon-right-open]
    section.index-hit.index-card
        .text--center
            h1 Хит продаж
        .inner.template.template--decor
            .container
                .row
                    - for (var x =  1; x < 7; x++)
                        .cell.cell__xlg-3.cell__md-4.cell__xs-12
                            .index-card__item
                                .index-card-img: a(href="#"): img(src="images/card-1.jpg", alt="")
                                .index-card-desc
                                    .index-card-title
                                        h4: a(href="#") Детский спортивный комплекс
                                    .hidden__sm.hidden__xs
                                        .text__md ДСК Карусель-01Р #[br] (ДСК-2Д.02.01)(темный)
                                        img(src="images/decor.png", alt="")
                                    .index-card-price
                                        b 12 450
                                        span  руб.
                                    .index-card-btn
                                        a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить
                    - for (var x =  1; x < 3; x++)
                        .cell.cell__xlg-3.cell__md-4.cell__xs-12.hidden__md.hidden__sm.hidden__xs
                            .index-card__item
                                .index-card-img: a(href="#"): img(src="images/card-2.jpg", alt="")
                                .index-card-desc
                                    .index-card-title
                                        h4: a(href="#") Детский спортивный комплекс
                                    .hidden__sm.hidden__xs
                                        .text__md Комплекс "Городок" 4-х #[br] опорный
                                        img(src="images/decor.png", alt="")
                                    .index-card-price
                                        b 7 650
                                        span  руб.
                                    .index-card-btn
                                        a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить
    section.index-sale.index-card
        .text--center
            h1 Товары со скидкой
        .inner.template.template--decor
            .container
                .row
                    - for (var x =  1; x < 7; x++)
                        .cell.cell__xlg-3.cell__md-4.cell__xs-12
                            .index-card__item
                                .index-card-img: a(href="#"): img(src="images/card-1.jpg", alt="")
                                .index-card-desc
                                    .index-card-title
                                        h4: a(href="#") Детский спортивный комплекс
                                    .hidden__sm.hidden__xs
                                        .text__md ДСК Карусель-01Р #[br] (ДСК-2Д.02.01)(темный)
                                        img(src="images/decor.png", alt="")
                                    .index-card-price
                                        span.old 42 990 р.
                                        b 12 450
                                        span.type  руб.
                                    .index-card-btn
                                        a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить
                    - for (var x =  1; x < 3; x++)
                        .cell.cell__xlg-3.cell__md-4.cell__xs-12.hidden__md.hidden__sm.hidden__xs
                            .index-card__item
                                .index-card-img: a(href="#"): img(src="images/card-2.jpg", alt="")
                                .index-card-desc
                                    .index-card-title
                                        h4: a(href="#") Детский спортивный комплекс
                                    .hidden__sm.hidden__xs
                                        .text__md Комплекс "Городок" 4-х #[br] опорный
                                        img(src="images/decor.png", alt="")
                                    .index-card-price
                                        b 7 650
                                        span  руб.
                                    .index-card-btn
                                        a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить
    section.index-news
        .text--center
            h1 Новости компании
        .inner.template.template--decor
            .container
                .row
                    - for (var x =  1; x < 4; x++)
                        .cell.cell__lg-3.cell__md-4.cell__xs-12
                            .index-news__item
                                .index-news-img: a(href="#"): img(src="images/news-#{x}.jpg", alt="")
                                .index-news-desc
                                    .index-news-date 18.08.2016
                                    img(src="images/decor.png", alt="")
                                    .index-news-title
                                        h4: a(href="#") Акция на растущие парты и стулья для школьников
                                    .hidden__sm.hidden__xs
                                        .text__md С такими партами #[br] гарантирована успешная #[br] учеба.
                                        img(src="images/decor-1.png", alt="")
                                    .index-news-link
                                        a(href="#") Подробнее #[i.icon-right-open]
                    .cell.cell__lg-3.cell__xs-12.hidden__sm.hidden__xs
                        img(src="images/group.jpg", alt="")
    section.index-type
        .text--center
            h1 Интернет-магазин спортивных товаров для детей
        .inner.template
            .container
                p Сегодня спортивные товары для детей продает огромное множество магазинов и торговых площадок. Однако, выбирая подходящий магазин детских спортивных товаров, обратите внимание на профессионализм и компетентность продавца. Ведь речь идет не только о развлечении, но и о безопасности ваших детей, обеспечить ее может только качественное детское спортивное оборудование, изготовленное в соответствии с установленными стандартами.
                .text--center
                    h2.text--info Интернет-магазин «БэбиСпорт» - это:
                ul.list--bullet.text--default
                    li высокое качество товаров
                    li широкий выбор продукции
                    li удобный сервис и доставка по РФ
                    li большой шоу-рум в Санкт-Петербурге
                    li взаимовыгодное сотрудничество для оптовых покупателей
                p Наша компания специализируется на поставке детских спортивных товаров уже более 15 лет.За это время мы приобрели огромный опыт и хорошую репутацию.
                    | #[br] Мы заботимся о безопасности, здоровом развитии и отличном настроении Ваших детей!
