main.page-main
    .container
        include ../components/_breadcrumbs
        h3.text--primary.margtop0= title
        section.news
            - for (var x =  1; x < 9; x++)
                .news__item
                    h3.text--info Больше игр и спорта за меньшие деньги: комплексы для самых юных спортсменов
                    span.date 26.10.2016
                    .row
                        .cell.cell__xlg-9.cell__md-8.cell__xs-12
                            p.text__lg Спешите воспользоваться акцией – осталась одна неделя!
                        .cell.cell__xlg-3.cell__md-4.cell__xs-12.text--right
                            a.btn.btn--info.btn--full(href="#") Читать далее
        .text--center
            include ../components/_paginator