main.page-main
    .container
        include ../components/_breadcrumbs
        section.one-news
            .one-news__item
               .row
                   .cell.cell__lg-4.cell__xs-12
                       .slider-for1
                           div: img(src="images/new.jpg", alt="")
                           div: img(src="images/new.jpg", alt="")
                       .slider-nav1
                           div: img(src="images/new-1.jpg", alt="")
                           div: img(src="images/new-2.jpg", alt="")
                   .cell.cell__lg-8.cell__xs-12
                       .one-news--title
                           h3.margtop03.text--info= title
                           span.date 26.10.2016
                       p Уважаемые покупатели!
                        |  По многочисленным просьбам мы разработали новейшую модель деревянного домика для Ваших детей.
                        | Домик поставляется в различных комплектациях и в нескольких ярких расцветках, так что каждый сможет подобрать для своего чада именно то, что ему необходимо.
                        p Подробнее ознакомится с комплекстацией и ценами Вы можете по этой #[a(href="#") ссылке.]
                        img(src="images/soc.jpg", alt="")
                       .one-news--footer
                           a.btn.btn--info(href="#") #[i.icon-left-open] Назад к списку новостей