main.page-main
    .container
        include ../components/_breadcrumbs
        h3.margtop0.text--primary= title
    section.template.order
        .container
            form
                .order__item
                    h3.text--primary Информация о покупателе
                    .row
                        .cell.cell__md-4.cell__xs-12
                            .form__group
                                label Ваша фамилия #[sup *]
                                input.form-control(type='text', placeholder="Например, Иванов", required)
                        .cell.cell__md-4.cell__xs-12
                            .form__group
                                label Ваше имя #[sup *]
                                input.form-control(type='text', placeholder="Например, Иван", required)
                        .cell.cell__md-4.cell__xs-12
                            .form__group
                                label Ваше отчество
                                input.form-control(type='text', placeholder="Например, Иванович")
                    .row
                        .cell.cell__md-4.cell__xs-12
                            .form__group
                                label E-Mail #[sup *]
                                input.form-control(type='email', placeholder="Например, company@mail.ru", required)
                        .cell.cell__md-4.cell__xs-12
                            .form__group
                                label Телефон #[sup *]
                                input.form-control(type='text', name="phone", placeholder="Например, +7 (xxx) xxx-xx-xx", required)
                    .row
                        .cell.cell__md-4.cell__xs-12
                            .form__group
                                label Выберите город
                                input.form-control(type='text', placeholder="Санкт-Петербург, Ленинградская обл, Россия")
                        .cell.cell__md-8.cell__xs-12
                            .form__group
                                label Полный адрес:
                                input.form-control(type='text', name="phone", placeholder="Например, улица Рубинштейна, д. 33, корпус 2, квратира 22")
                .order__item
                    h3.text--primary Платежная система
                    .row
                        .cell.cell__xlg-2.cell__lg-3.cell__md-4.cell__xs-12
                            .form__group
                                .radio
                                    input(type="radio", id="order1", name="order")
                                    label.text__md(for="order1") Наличными курьеру
                        .cell.cell__xlg-2.cell__lg-3.cell__md-4.cell__xs-12
                            .form__group
                                .radio
                                    input(type="radio", id="order2", name="order")
                                    label.text__md(for="order2") Банковской картой
                .order__item
                    h3.text--primary Служба доставки
                    .row
                        .cell.cell__xlg-4.cell__lg-5.cell__md-6.cell__xs-12
                            .form__group
                                .radio
                                    input(type="radio", id="order3", name="order1")
                                    label.text__md(for="order3") Самовывоз Санкт-Петербург бесплатно
                                ul.list--table
                                    li: p ул Литовская 17а #[br] пн-пт с 10-00 до 19-00 #[br] сб-вс с 11-00 до 18-00
                                    li: p БЕЗ ОБЕДА
                    .row
                        .cell.cell__xs-12
                            .form__group
                                .radio
                                    input(type="radio", id="order4", name="order1")
                                    label.text__md(for="order4") Транспортная компания на Ваш выбор
                .order__item
                    h5.text--primary Адрес доставки
                    .row
                        .cell.cell__md-4.cell__xs-12
                            .form__group
                                label Улица #[sup *]
                                input.form-control(type='text', placeholder="Например, Гороховая", required)
                        .cell.cell__md-8.cell__xs-12
                            .row
                                .cell.cell__md-4.cell__xs-12
                                    .form__group
                                        label Дом #[sup *]
                                        input.form-control(type='text', placeholder="Например, 123", required)
                                .cell.cell__md-4.cell__xs-12
                                    .form__group
                                        label Корпус #[sup *]
                                        input.form-control(type='text', placeholder="Например, 123", required)
                                .cell.cell__md-4.cell__xs-12
                                    .form__group
                                        label Квартира #[sup *]
                                        input.form-control(type='text', placeholder="Например, 123", required)
                    .row
                        .cell.cell__xs-12
                            .form__group
                                .radio
                                    input(type="radio", id="order5", name="order1")
                                    label.text__md(for="order5") Доставка курьером Санкт-Петербург Цена 400 р.
                    input.btn.btn--info.btn__lg(value="Оформить заказ", type="submit")