main.page-main
    section.page404.template.template--decor
        .container
            .row
                .cell.cell__lg-5.cell__xs-12.text--center
                    img(src="images/404.png", alt="")
                .cell.cell__lg-7.cell__xs-12
                    h2 Извините! #[br] Запрашиваемая страница не найдена или не существует!
                    .margtop40.margbot40
                        p Наша компания специализируется на поставке детских спортивных товаров уже более 15 лет. За это время мы приобрели огромный опыт и хорошую репутацию. #[br]Мы заботимся о безопасности, здоровом развитии и отличном настроении Ваших детей!
                    a(href="#") Ссылка номер один
                    a(href="#") Ссылка номер два
                    a(href="#") Ссылка номер три