main.page-main
    section.page500
        .container
            a(href="/"): img(src="images/logo.png", alt="")
            h1 Ошибка 500.
            .row
                .cell.cell__lg-8.cell__xs-12
                    h2 Извините! #[br] Что-то сломалось на сервере!
                    .margtop40.margbot40
                        p Наша компания специализируется на поставке детских спортивных товаров уже более 15 лет. За это время мы приобрели огромный опыт и хорошую репутацию. #[br]Мы заботимся о безопасности, здоровом развитии и отличном настроении Ваших детей!
                    a(href="#") Ссылка номер один
                    a(href="#") Ссылка номер два
                .cell.cell__lg-4.cell__xs-12.text--right
                    img(src="images/500.png", alt="")