main.page-main
    .container
        include ../components/_breadcrumbs
        h3.text--primary.margtop0= title
        .tabs
            section.template.search-bar
                .row
                    .cell.cell__md-5.cell__xs-12
                        .relative
                            input.form-control(type="text", placeholder="Поисковый запрос")
                            button(type="submit"): i.icon-search.text--info
                    .cell.cell__md-7.hidden__sm.hidden__xs.text--right
                        ul.tabs__caption
                            li.active: span: i.icon-menu
                            li: span: i.icon-th
            .inner.tabs__content.active.hidden__sm.hidden__xs
                - for (var x =  1; x < 9; x++)
                    .index-card__item.index-card__item--table
                        .index-card-img: img(src="images/card-3.jpg", alt="")
                        .index-card-desc
                            .index-card-title
                                h4 ДСК Карусель-01Р  (ДСК-2Д.02.01)(темный)
                            ul.list--inline
                                li.index-card-price
                                    b 12 450
                                        span.type  руб.
                                li.index-card-price
                                    .old
                                        span.old-txt Старая цена #[br]
                                        span.text--default 42 990 р.
                                li: .index-card-btn
                                    a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Добавить в корзину
                                li: a.text--primary.text__md(href="#") • Отложить товар
            .inner.tabs__content.tabs__content--mobile
                .row
                    - for (var x =  1; x < 9; x++)
                        .cell.cell__xlg-3.cell__md-4.cell__xs-12
                            .index-card__item
                                .index-card-img: img(src="images/card-1.jpg", alt="")
                                .index-card-desc
                                    .index-card-title
                                        h4 Детский спортивный комплекс
                                    .hidden__sm.hidden__xs
                                        .text__md ДСК Карусель-01Р #[br] (ДСК-2Д.02.01)(темный)
                                        img(src="images/decor.png", alt="")
                                    .index-card-price
                                        .old
                                            span.old-txt Старая цена #[br]
                                            span.text--default 42 990 р.
                                        b 12 450
                                        span.type  руб.
                                    .index-card-btn.margbot10
                                        a.btn.btn--warning.btn--full(href="#") #[i.icon-basket]  Купить
                                    a.text--primary.text__md(href="#") • Отложить товар
        .text--center
            include ../components/_paginator