main.page-main
    .container
        include ../components/_breadcrumbs
        section.template.sitemap
            h1.sitemap-title: a(href="#") Главная
            ul.sitemap-primary
                li
                    a(href="#") Каталог
                    ul.sitemap-secondary
                        li
                            a(href="#") Бассейны
                            ul.sitemap-third
                                li: a(href="#") Каркасные бассейны
                                li: a(href="#") Лестницы, фильтры, уход
                        li: a(href="#") Батуты
                        li
                            a(href="#") Детская мебель
                            ul.sitemap-third
                                li: a(href="#") Кровати подростковые, Двухъярусные
                                li: a(href="#") Парты
                                li: a(href="#") Письменные столы
                                li: a(href="#") Стулья
                        li
                            a(href="#") Детские автокресла
                            ul.sitemap-third
                                li: a(href="#") Автокресла Siger
                                li: a(href="#") Автокресла для новорожденных
                        li: a(href="#") Детские горки
                        li
                            a(href="#") Детские площадки, домики, качели
                            ul.sitemap-third
                                li: a(href="#") Беседки
                                li: a(href="#")  Детские площадки
                                li: a(href="#") Лавки для дачи
                                li: a(href="#") Резиновые покрытия
                                li: a(href="#") Спортивные комплексы для дачи
                        li: a(href="#") Детский транспорт
                        li
                            a(href="#") Домашние спорткомплексы
                            ul.sitemap-third
                                li: a(href="#") Г-образные
                                li: a(href="#") Деревянные спорткомплексы
                                li: a(href="#") Дополнительное оборудование
                                li: a(href="#") Многоопорные
                                li: a(href="#") Напольные ДСК
                                li: a(href="#") Пристеночные
                                li: a(href="#") Т-образные
                        li: a(href="#") Детский транспорт
                        li: a(href="#") Бассейны
                        li
                            a(href="#") Домашние спорткомплексы
                            ul.sitemap-third
                                li: a(href="#") Г-образные
                                li: a(href="#") Деревянные спорткомплексы
                                li: a(href="#") Дополнительное оборудование
                                li: a(href="#") Многоопорные
                                li: a(href="#") Напольные ДСК
                                li: a(href="#") Пристеночные
                                li: a(href="#") Т-образные
                li: a(href="#") Сертификаты
                li
                    a(href="#") О компании
                    ul.sitemap-secondary
                        li
                            ul.sitemap-third
                                li: a(href="#") Преимущества
                                li: a(href="#") Обратная связь
                                li: a(href="#") Оптовикам
                                li: a(href="#") Гарантия
                                li: a(href="#") Задать вопрос
                                li: a(href="#") Как купить
                                li: a(href="#") Доставка
                                li: a(href="#") Отзывы