extends layouts/_default

block title
    title Babysport
    - var title = 'Детский комплекс «Шалун Радуга»'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_card

block siteFooter
    include partials/_footer
