extends layouts/_default

block title
    title Babysport
    - var title = 'Спортивные комплексы для дома'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_catalog

block siteFooter
    include partials/_footer
