extends layouts/_default

block title
    title Babysport
    - var title = 'Сравнение товаров'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_compare

block siteFooter
    include partials/_footer
