extends layouts/_default

block title
    title Babysport
    - var title = 'Новости'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_news

block siteFooter
    include partials/_footer
