extends layouts/_default

block title
    title Babysport
    - var title = 'Уникальная новинка!'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_one-news

block siteFooter
    include partials/_footer
