extends layouts/_default

block title
    title Babysport
    - var title = 'Оформление заказа'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_order

block siteFooter
    include partials/_footer
