extends layouts/_default

block title
    title Babysport
    - var title = 'Карта сайта'

block pageName
    -var pageName = "500"

block siteHeader
    //include partials/_header

block siteMain
    include pages/_page500

block siteFooter
    //include partials/_footer
