extends layouts/_default

block title
    title Babysport
    - var title = 'Карта сайта'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_page404

block siteFooter
    include partials/_footer
