extends layouts/_default

block title
    title Babysport
    - var title = 'Поиск'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_search

block siteFooter
    include partials/_footer
